{
  "plugins": ["prettier-plugin-go-template"],
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
