{{ $separators := .Params.separators | default (slice) }}
{{ $depth := .Scratch.Get "menu-depth" }}

<li class="relative group/menu-depth-{{ $depth }}">
  <a href="{{ .Permalink }}" class="menu-item">
    {{ .Title }}
  </a>

  {{ if or .Sections .Pages }}
  <!-- Set the submenu class based on the depth -->
  {{ $ulClass := "" }}
  {{ if eq $depth 0 }}
  {{ $ulClass = printf "dropdown-menu group-hover/menu-depth-%d:block" $depth }}
  {{ else }}
  {{ $ulClass = printf "dropdown-menu-nested group-hover/menu-depth-%d:block" $depth }}
  {{ end }}

  <ul class="{{ $ulClass }}" aria-label="Submenu">
    <!-- Include subsections -->
    {{ range $index, $section := .Sections }}
    {{ .Scratch.Set "menu-depth" (add ($.Scratch.Get "menu-depth") 1) }}
    {{ partial "menu-item.html" $section }}
    {{ if in $separators (add $index 1) }}
    <li>
      <hr class="menu-separator" />
    </li>
    {{ end }}
    {{ end }}

    <!-- Include regular pages, but exclude _index.md -->
    {{ range $index, $page := .Pages }}
    {{ if not $page.IsSection }}
    <li>
      <a href="{{ $page.Permalink }}" class="menu-item">
        {{ $page.Title }}
      </a>
    </li>
    {{ if in $separators (add $index 1) }}
    <li>
      <hr class="menu-separator" />
    </li>
    {{ end }}
    {{ end }}
    {{ end }}
  </ul>
  {{ end }}
</li>