<li class="relative group">
  <a
    href="{{ .Permalink }}"
    class="block px-4 py-2 text-gray-100 hover:bg-blue-600 {{ if or .IsMenuCurrent .IsMenuParent }}bg-blue-700{{ end }}"
    aria-haspopup="true"
    aria-expanded="false"
  >
    {{ .Title }}
  </a>
  {{ if or .Sections .Pages }}
  <ul
    class="
      hidden
      group-hover:block
      absolute
      bg-gray-800
      text-gray-100
      border border-gray-700
      shadow-lg
    "
  >
    <!-- Include subsections -->
    {{ range .Sections }} {{ partial "menu-item.html" . }} {{ end }}
    <!-- Include regular pages -->
    {{ range .Pages }}
    <li>
      <a href="{{ .Permalink }}" class="block px-4 py-2 hover:bg-blue-600">
        {{ .Title }}
      </a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</li>
