{{ define "navigation" }}
  <div id="navigation-container" class="invisible">
    {{ partial "navigation.html" . }}
  </div>
{{ end }}

{{ define "main" }}
  <div class="min-h-screen bg-black text-white">
    <!-- Uniform Fullscreen Sections -->
    {{ range $index, $page := where .Site.Pages "Section" "intro" }}
      <section
        id="sec-ind-{{ $index }}"
        class="relative flex min-h-[calc(100vh-4rem)] items-center justify-center bg-cover bg-center text-white"

        {{ with .Params.background_image }}
          style="background-image: url('{{ . }}');"
        {{ else }}
          style="background-color: var(--color-gray-800);"
        {{ end }}
      >
        <!-- Dark red overlay with opacity -->
        <!-- <div class="absolute inset-0 z-0 bg-blue-500/25"></div> -->

        <!-- Content Card -->
        <div class="relative z-10 w-full px-4">
          <div
            class="prose prose-invert prose-lg mx-auto max-w-3xl rounded-lg bg-black/50 p-8 text-center shadow-lg backdrop-blur-sm"
          >
            {{ .Content }}
          </div>
        </div>
      </section>
    {{ end }}


    <header
      class="flex h-screen flex-col items-center justify-center bg-cover bg-center bg-no-repeat text-center"
      style="background-image: url('/images/about-bg.jpg');"
    >
      <div class="bg-opacity-50 rounded-lg bg-black p-8">
        <h1 class="text-5xl font-bold tracking-wide uppercase">{{ .Title }}</h1>
        <p class="mt-4 text-lg">Welcome to the landing page!</p>
        <a
          href="#intro-section"
          class="mt-6 inline-block rounded-lg bg-orange-500 px-6 py-3 text-lg font-semibold text-black hover:bg-orange-400"
        >
          Learn More
        </a>
      </div>
    </header>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      // Add event listener for buttons with data-action="toggle-navigation"
      document
        .querySelectorAll('[data-action="toggle-navigation"]')
        .forEach((button) => {
          button.addEventListener("click", (event) => {
            event.preventDefault(); // Prevent default link behavior
            const navContainer = document.getElementById(
              "navigation-container"
            );
            if (navContainer.classList.contains("invisible")) {
              navContainer.classList.remove("invisible");
            } else {
              navContainer.classList.add("invisible");
            }
          });
        });
    });
  </script>
{{ end }}
